body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items:
